<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>productName</key>
		<string>蒜瓣肉</string>
		<key>icon</key>
		<string>010.jpg</string>
		<key>desc</key>
		<string>烧烤中比较好的一个种</string>
	</dict>
	<dict>
		<key>productName</key>
		<string>骨髓</string>
		<key>icon</key>
		<string>011.jpg</string>
		<key>desc</key>
		<string>这是牛骨髓</string>
	</dict>
	<dict>
		<key>productName</key>
		<string>羊肉串</string>
		<key>icon</key>
		<string>012.jpg</string>
		<key>desc</key>
		<string>经典肉串</string>
	</dict>
	<dict>
		<key>productName</key>
		<string>烤鸡头</string>
		<key>icon</key>
		<string>013.jpg</string>
		<key>desc</key>
		<string>东北烧烤有，济南烧烤没有</string>
	</dict>
	<dict>
		<key>productName</key>
		<string>掌中宝</string>
		<key>icon</key>
		<string>014.jpg</string>
		<key>desc</key>
		<string>鸡爪子中间的肉，好吃</string>
	</dict>
	<dict>
		<key>productName</key>
		<string>猪肉串</string>
		<key>icon</key>
		<string>015.jpg</string>
		<key>desc</key>
		<string>最近几年才出来的品种</string>
	</dict>
	<dict>
		<key>productName</key>
		<string>红腰</string>
		<key>icon</key>
		<string>016.jpg</string>
		<key>desc</key>
		<string>腰子的一种，我不爱吃</string>
	</dict>
	<dict>
		<key>productName</key>
		<string>花生毛豆</string>
		<key>icon</key>
		<string>017.jpg</string>
		<key>desc</key>
		<string>下酒菜</string>
	</dict>
	<dict>
		<key>productName</key>
		<string>老雪花</string>
		<key>icon</key>
		<string>018.jpg</string>
		<key>desc</key>
		<string>沈阳人都喝老雪花，爽</string>
	</dict>
    <dict>
        <key>productName</key>
        <string>奥特曼</string>
        <key>icon</key>
        <string>013.jpg</string>
        <key>desc</key>
        <string>奥特曼，实在编不下去了！</string>
    </dict>
    <dict>
        <key>productName</key>
        <string>唐僧</string>
        <key>icon</key>
        <string>014.jpg</string>
        <key>desc</key>
        <string>唐三藏，师父。</string>
    </dict>
    <dict>
        <key>productName</key>
        <string>白龙马</string>
        <key>icon</key>
        <string>015.jpg</string>
        <key>desc</key>
        <string>白龙马,龙之子</string>
    </dict>
    <dict>
        <key>productName</key>
        <string>沙僧</string>
        <key>icon</key>
        <string>016.jpg</string>
        <key>desc</key>
        <string>沙和尚，不知道了。</string>
    </dict>
    <dict>
        <key>productName</key>
        <string>猪八戒</string>
        <key>icon</key>
        <string>017.jpg</string>
        <key>desc</key>
        <string>猪八戒，天蓬元帅</string>
    </dict>
    <dict>
        <key>productName</key>
        <string>孙悟空</string>
        <key>icon</key>
        <string>018.jpg</string>
        <key>desc</key>
        <string>孙猴子，齐天大圣</string>
    </dict>
</array>
</plist>
