<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>010.jpg</string>
		<key>titles</key>
		<string>能让你笑的三十五张图（N58）</string>
		<key>fromnews</key>
		<string>今日头条</string>
		<key>comments</key>
		<string>12</string>
	</dict>
    <dict>
        <key>icon</key>
        <string>011.jpg</string>
        <key>titles</key>
        <string>明星大腕们最惨痛的教训：情到已深处，却忘记拉窗帘！</string>
        <key>fromnews</key>
        <string>今日头条</string>
        <key>comments</key>
        <string>72</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>012.jpg</string>
        <key>titles</key>
        <string>叙利亚内战6年交下真朋友，总统发话以后向东看</string>
        <key>fromnews</key>
        <string>今日头条</string>
        <key>comments</key>
        <string>62</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>013.jpg</string>
        <key>titles</key>
        <string>他们假冒草根歌手多年，为走红身份造假，韩红当场拆穿愤怒离场！</string>
        <key>fromnews</key>
        <string>今日头条</string>
        <key>comments</key>
        <string>42</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>014.jpg</string>
        <key>titles</key>
        <string>方媛9月开刀生女，郭富城8000万上海买豪宅送岳父母哄老婆</string>
        <key>fromnews</key>
        <string>今日头条</string>
        <key>comments</key>
        <string>32</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>015.jpg</string>
        <key>titles</key>
        <string>笑不死的三十二张图（K057）</string>
        <key>fromnews</key>
        <string>今日头条</string>
        <key>comments</key>
        <string>72</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>016.jpg</string>
        <key>titles</key>
        <string>因孙俪让她一夜成名，未出月子惨遭家暴，带病拍戏去世年仅27岁</string>
        <key>fromnews</key>
        <string>今日头条</string>
        <key>comments</key>
        <string>120</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>018.jpg</string>
        <key>titles</key>
        <string>北京八达岭动物园熊咬人视频公布：黑熊被驱赶后游客继续投食</string>
        <key>fromnews</key>
        <string>今日头条</string>
        <key>comments</key>
        <string>112</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>019.jpg</string>
        <key>titles</key>
        <string>共享个毛线呀，宝马车主都被逼疯了</string>
        <key>fromnews</key>
        <string>今日头条</string>
        <key>comments</key>
        <string>121</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>010.jpg</string>
        <key>titles</key>
        <string>笑不停的十六张图（Y273）</string>
        <key>fromnews</key>
        <string>今日头条</string>
        <key>comments</key>
        <string>16</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>011.jpg</string>
        <key>titles</key>
        <string>那些曾经被那英淘汰的歌手，现都一一回归打脸那英！</string>
        <key>fromnews</key>
        <string>今日头条</string>
        <key>comments</key>
        <string>12</string>
    </dict>

</array>
</plist>
